/dist
/tmp
/node_modules

/.idea
.project
.classpath
.c9/
*.launch
.settings/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

npm-debug.log
/typings
mocha.json