$primary-color: #00b2c9;
$background-color: #f7f7f7;
$primary-font-color: #37474f;
$secondary-font-color: #c0c0b1;
$button-font-color: #444444;
$disabled-color: #cccccc;
$background-hover-color: #eaeaea;
